*{
	margin: 0;
  	padding: 0;
  	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.grid{
	margin: 0 auto;
	width: 100%;
	max-width: 1160px;
	overflow: hidden;
}
.grid:after {
  display: table;
  line-height: 0;
  content: "";
}
.clear{
	clear: both;
}
.top-pad-1{
	padding-top: 20px; 
}
[class*='wide-']{
  float: left;
  padding-right: 20px; 
}
.wide-100 {
	width: 100%;
}
.wide-75 {
	width: 75%;
}
.wide-50 {
	width: 50%;
}
.wide-25 {
	width: 25%;
}
.wide-10 {
	width: 10%;
}
